<!-- Home Page
==========================================-->
<h3><i class="fa fa-angle-right"></i>#PartiuFormar</h3>
          <div class="row mt">
            <div class="col-lg-12">
                      <div class="content-panel">
                      <h4><i class="fa fa-angle-right"></i>Informações dos Usuários</h4>
                          <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                  <tr>
                                      <th>Registration</th>
                                      <th>Name</th>
                                      <th>Last name</th>
                                      <th>Current semester</th>
                                      <th>Year registration</th>
                                      <th>Email</th>
                                      
                                      <% @users.each do |user| %>
                                        <tr class= "info">
                                          <td><%= user.registration %></td>
                                          <td><%= user.name %></td>
                                          <td><%= user.last_name %></td>
                                          <td><%= user.current_semester %></td>
                                          <td><%= user.year_registration %></td>
                                          <td><%= user.email %></td>
                                        </tr>
                                      <% end %>
                                  </tr>
                                </thead>                              
                          </table>
                            </div>
                              <p align="right"><a href="<%= new_user_path %>" id = "Editar" class="btn btn-lg btn-success btn-block" role="button" >Novo Usuário</a></p>
                            </div>    

                          </section>
                  </div><!-- /content-panel -->
               </div><!-- /col-lg-4 -->     
        </div><!-- /row -->