<p id="notice"><%= notice %></p>

<p>
  <strong>Registration:</strong>
  <%= @user.registration %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Current semester:</strong>
  <%= @user.current_semester %>
</p>

<p>
  <strong>Year registration:</strong>
  <%= @user.year_registration %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
