<!DOCTYPE html>
<html>
<head>
  <title>Vouformar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
</head>
<body>

<% if current_user %>
  <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        
        <%= render 'layouts/header' %>

  <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        
        <%= render 'layouts/side_bar' %>

        <!--sidebar end-->
        
  	<!-- **********************************************************************************************************************************************************
  	MAIN CONTENT
  	*********************************************************************************************************************************************************** -->
  
  	<!--main content start-->
  	<section id="main-content">
  		<section class="wrapper">
  		

  			<%= yield %>



  		</section><!--/wrapper -->
      </section><!-- /MAIN CONTENT -->
      <!--main content end-->



        <!--footer start-->
        <%= render 'layouts/footer' %>
        <!--footer end-->
<% else %>
  <%= yield %>
<% end %>  


</section>
</body>
</html>