<!DOCTYPE html>
<html>
<head>
  <title>Vouformar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--% if @have_session %> -->

  <section id="container">
  <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        
        <%= render 'layouts/header' %>

  <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        
        <%= render 'layouts/side_bar' %>

        <!--sidebar end-->
        
  	<!-- **********************************************************************************************************************************************************
  	MAIN CONTENT
  	*********************************************************************************************************************************************************** -->
  
  	<!--main content start-->
  	<section id="main-content">
  		<section class="wrapper">
  		

  			<%= yield %>



  		</section><!--/wrapper -->
      </section><!-- /MAIN CONTENT -->
      <!--main content end-->



        <!--footer start-->
        <%= render 'layouts/footer' %>
        <!--footer end-->

<!--
<!% else %>
  <!%= render 'users/login' %>
  <script>
    $.backstretch([
        "<!%= asset_path 'login-bg.jpg' %>"
      ], {speed: 500});
 </script>
<!% end %>
-->
</section>
</body>
</html>