<p id="notice"><%= notice %></p>

<h1>Listing Disciplines</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Credits</th>
      <th>Classroom</th>
      <th>Period</th>
      <th>Horary</th>
      <th>Local</th>
      <th>Prerequisites</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disciplines.each do |discipline| %>
      <tr>
        <td><%= discipline.code %></td>
        <td><%= discipline.name %></td>
        <td><%= discipline.description %></td>
        <td><%= discipline.credits %></td>
        <td><%= discipline.classroom %></td>
        <td><%= discipline.period %></td>
        <td><%= discipline.horary %></td>
        <td><%= discipline.local %></td>
        <td><%= discipline.prerequisites %></td>
        <td><%= link_to 'Show', discipline %></td>
        <td><%= link_to 'Edit', edit_discipline_path(discipline) %></td>
        <td><%= link_to 'Destroy', discipline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discipline', new_discipline_path %>
